.slider-container {
	min-height: 50vh;
	background-color: #093fab;

	position: relative;
}
.how-it-works {
	background-color: #ffffff;
}

.card-img-top {
	width: 80px;
	height: 80px;
}

.heading {
	position: absolute;
	top: 23%;
	padding-left: 5%;
	font-size: 2.5rem;
	font-weight: bolder;
	color: #fff;

	font-family: "Canela Deck Bold" !important;
}

.tagline {
	position: absolute;
	top: 50%;
	padding-left: 5%;
	font-size: 1.5rem;
	color: #fff;
}

.smalltag {
	position: absolute;
	top: 90%;
	padding-left: 5%;
	color: #fff;
}

.scope {
	background-color: #e0e0e0;
	min-height: 20vh;
}

.types-heading {
	margin-top: 20px;
}

.types {
	border-left: red;
	border-width: 20px;
}

.underline {
	height: 5px;
	width: 20%;
	background-color: #093fab;
	color: #093fab;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	.heading {
		position: absolute;
		top: 20%;
		padding-left: 5%;
	}

	.smalltag {
		position: absolute;
		top: 90%;
		padding-left: 5%;
		color: #fff;
	}
}
